* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text svneol=unset#application/xml
src/main/java/org/cd2h/covid/ArXivLoader.java -text
src/main/java/org/cd2h/covid/BioRxivLoader.java -text
src/main/java/org/cd2h/covid/CERMINEExtractor.java -text
src/main/java/org/cd2h/covid/ChiCTRLoader.java -text
src/main/java/org/cd2h/covid/CrossRefLoader.java -text
src/main/java/org/cd2h/covid/DocumentQueue.java -text
src/main/java/org/cd2h/covid/EudraCTLoader.java -text
src/main/java/org/cd2h/covid/FacetIndexer.java -text
src/main/java/org/cd2h/covid/LineComparator.java -text
src/main/java/org/cd2h/covid/LitCOVIDLoader.java -text
src/main/java/org/cd2h/covid/ZoteroLoader.java -text
src/main/java/org/cd2h/covid/detectors/SectionDetector.java -text
src/main/java/org/cd2h/covid/model/Affiliation.java -text
src/main/java/org/cd2h/covid/model/Author.java -text
src/main/java/org/cd2h/covid/model/Citation.java -text
src/main/java/org/cd2h/covid/model/Document.java -text
src/main/java/org/cd2h/covid/model/Line.java -text
src/main/java/org/cd2h/covid/model/Page.java -text
src/main/java/org/cd2h/covid/model/Reference.java -text
src/main/java/org/cd2h/covid/model/Section.java -text
src/main/java/org/cd2h/covid/model/Sentence.java -text
src/main/resources/META-INF/taglib.tld -text svneol=unset#application/xml
src/non-packaged-resources/Model.clay -text svneol=unset#application/xml
src/non-packaged-resources/biorxiv.sql -text
src/non-packaged-resources/chictr_views.sql -text
src/non-packaged-resources/crossref_views.sql -text
src/non-packaged-resources/dashboard.sql -text
src/non-packaged-resources/dashboard_refresh.sql -text
src/non-packaged-resources/training.clay -text
src/non-packaged-resources/training.sql -text
src/non-packaged-resources/views.sql -text
src/test/java/org/cd2h/covid/README.txt -text
src/test/resources/README.txt -text
